---
import type { IconType } from "react-icons";
import { FaGithub, FaGitlab, FaXTwitter, FaReddit, FaDiscord, FaSteam } from "react-icons/fa6";
import { FiMail } from "react-icons/fi";
import LinkButton from "./LinkButton.astro";

interface Props {
    style?: string;
}

type SocialLink = {
    name: string;
    href: string;
    icon: IconType
};

export const socials: Array<SocialLink> = [
    {
        name: "GitHub",
        href: "https://github.com/retrozinndev",
        icon: FaGithub
    },
    {
        name: "GitLab",
        href: "https://gitlab.com/retrozinndev",
        icon: FaGitlab
    },
    {
        name: "Discord",
        href: "https://discord.com/users/568589231954591749",
        icon: FaDiscord
    },
    {
        name: "X / Twitter",
        href: "https://x.com/retrozinndev",
        icon: FaXTwitter
    },
    {
        name: "Reddit",
        href: "https://reddit.com/user/Much_Clue7037",
        icon: FaReddit
    },
    {
        name: "Mail",
        href: "mailto:joaovodias@gmail.com",
        icon: FiMail
    },
    {
        name: "Steam",
        href: "https://steamcommunity.com/id/retrozinndev",
        icon: FaSteam
    }
];

const { style } = Astro.props;
---

<ul class="social-links" style={style}> {
    socials.map(social => 
        <li class="social-link">
            <LinkButton href={social.href} external={true} 
                        showIcon={false} title={social.name}>
                <social.icon size={18} />
            </LinkButton>
        </li>
    )
} </ul>

<style lang="scss">
    .social-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
    }

    @media screen and (max-width: 800px) {
        .social-links {
            justify-content: center;
        }
    }
</style>
