---
import { getStaticPaths } from "../../i18n/route.ts";
import PageLayout from "../../layouts/PageLayout.astro";
import LinkButton from "../../components/LinkButton.astro";
import type { IconType } from "react-icons";
import { BiLogoCss3, BiLogoGit, BiLogoGithub, BiLogoHtml5, BiLogoJava, BiLogoSass, BiLogoTypescript } from "react-icons/bi";
import { SiAstro } from "react-icons/si";
import { undefined } from "astro:schema";

export { getStaticPaths };

type Tech = {
    name: string;
    icon: IconType;
    href?: (string|URL);
};

const techs: Record<string, Array<Tech>> = {
    languages: [
        {
            name: "TypeScript",
            icon: BiLogoTypescript,
            href: "https://www.typescriptlang.org"
        },
        {
            name: "Java",
            icon: BiLogoJava,
            href: "https://dev.java"
        }
    ],
    frameworks_libraries: [
        {
            name: "Astro",
            icon: SiAstro,
            href: "https://astro.build"
        },
        {
            name: "HTML5",
            icon: BiLogoHtml5,
            href: "https://developer.mozilla.org/docs/Web/HTML"
        },
        {
            name: "CSS3",
            icon: BiLogoCss3,
            href: "https://developer.mozilla.org/docs/Web/CSS"
        },
        {
            name: "Sass/Scss",
            icon: BiLogoSass,
            href: "https://sass-lang.com"
        }
    ],
    others: [
        {
            name: "GitHub",
            icon: BiLogoGithub,
            href: "https://github.com"
        },
        {
            name: "Git",
            icon: BiLogoGit,
            href: "https://git-scm.com"
        }
    ]
};
---

<PageLayout title="retrozinndev - Tech Stack">
    <h1>Tech Stack</h1>
    <p>This is my knowlege stack! It contains the technologies that I've learned until today. Not much yet, I know.</p>

    <h2 id="languages">Languages</h2> {
        techs["languages"].map((lang) => 
            <LinkButton href={typeof lang.href === "string" ?
                        lang.href : (lang.href?.toString() ?? "") } 
                        title={`${lang.name} Website`} showIcon={false}>

                <lang.icon size={18} style={{ marginTop: 2, marginRight: 4 }} />
                { lang.name }
            </LinkButton>)
    }

    <h2 id="libraries">Frameworks / Libraries</h2> {
        techs["frameworks_libraries"].map((lib) => 
            <LinkButton href={typeof lib.href === "string" ?
                        lib.href : (lib.href?.toString() ?? "") } 
                        title={`${lib.name} Website`} showIcon={false}>

                <lib.icon size={18} style={{ marginTop: 2, marginRight: 4 }} />
                { lib.name }
            </LinkButton>)
    }

    <h2 id="others">Others</h2> {
        techs["others"].map((tech) => 
            <LinkButton href={typeof tech.href === "string" ?
                        tech.href : (tech.href?.toString() ?? "") } 
                        title={`${tech.name} Website`} showIcon={false}>

                <tech.icon size={18} style={{ marginTop: 2, marginRight: 4 }} />
                { tech.name }
            </LinkButton>)
    }
</PageLayout>
