---
import { getStaticPaths } from "../../i18n/route.ts";
import PageLayout from "../../layouts/PageLayout.astro";
import LinkButton from "../../components/LinkButton.astro";
import type { IconType } from "react-icons";
import { BiLogoCss3, BiLogoGit, BiLogoGithub, BiLogoHtml5, BiLogoJava, BiLogoSass, BiLogoTypescript } from "react-icons/bi";
import { SiAstro } from "react-icons/si";
import { SiGtk } from "react-icons/si";

export { getStaticPaths };

type Tech = {
    name: string;
    icon: IconType;
    href?: string;
};

const techs: Record<string, Array<Tech>> = {
    languages: [
        {
            name: "TypeScript",
            icon: BiLogoTypescript,
            href: "https://www.typescriptlang.org"
        },
        {
            name: "Java",
            icon: BiLogoJava,
            href: "https://dev.java"
        }
    ],
    frameworks__libraries: [
        {
            name: "Astro",
            icon: SiAstro,
            href: "https://astro.build"
        },
        {
            name: "GTK",
            icon: SiGtk,
            href: "https://gtk.org"
        },
        {
            name: "HTML5",
            icon: BiLogoHtml5,
            href: "https://developer.mozilla.org/docs/Web/HTML"
        },
        {
            name: "CSS3",
            icon: BiLogoCss3,
            href: "https://developer.mozilla.org/docs/Web/CSS"
        },
        {
            name: "Sass",
            icon: BiLogoSass,
            href: "https://sass-lang.com"
        }
    ],
    others: [
        {
            name: "GitHub",
            icon: BiLogoGithub,
            href: "https://github.com"
        },
        {
            name: "Git",
            icon: BiLogoGit,
            href: "https://git-scm.com"
        }
    ]
};
---

<PageLayout title="retrozinndev - Tech Stack">
    <h1>Tech Stack</h1>
    <p>This is my knowlege stack! It contains the technologies that I've been using until today.</p>

    {
        Object.keys(techs).map(key => {
            const title = key.replace(/__/g, " / ").replace(/^./, (s) => s.toUpperCase())
                .replace(/_/, '\s').replace(/ (.)/g, (_, c) => ` ${c.toUpperCase()}`);
            const list = techs[key as keyof typeof techs];

            return <div class="techs-list" id={key}>
                <h2 class="title">{title}</h2>
                <div class="techs">
                    {
                        list.map(tech => 
                            <LinkButton href={tech.href ?? ""} 
                              title={`Go to the website for ${tech.name}`} showIcon={false}>

                                <tech.icon size={18} style={{ 
                                    marginTop: 0, marginRight: 4
                                }} />
                                {tech.name}
                            </LinkButton>
                        )
                    }
                </div>
            </div>
        })
    }
</PageLayout>

<style>
    .techs {
        display: flex;
        flex-wrap: wrap;
        line-height: 1.6em;
        height: min-content;
    }
</style>
